:root {
  --main-color: brown;
  --main-bkcolor-light: #f9f6f2;
  --main-bkcolor-dark: black;
  /* font-family: sans-serif; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-bkcolor-light);
  position: relative;
  /* font-family: 'Cinzel', serif; */
  /* font-family: 'Gentium Book Basic', sans-serif !important; */
  /* font-family: sans-serif !important; */
  font-family: 'Gentium Book Basic', serif;
}

button {
  /* font-family: 'Gentium Book Basic', sans-serif; */
  /* font: 400 monospace; */
  /* font */
  /* color: blue; */
  /* font-family: sans-serif, 'Gentium Book Basic' !important; */
  /* font-family: 'Gentium Book Basic', sans-serif; */
  /* font-family: sans-serif; */
  /* font-family: initial; */
  /* font-family: inherit; */
  font-family: 'Cinzel', serif !important;
  /* font-size: 1.5rem; */
}

form {
  position: absolute;
  top: 80px;
  background-color: hsla(120, 0%, 90%, 1);
  width: 100%;
  padding: 10px;

  /* hidden to start */
  /* display: none; */
}

header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: grey;
  height: 4rem;

  box-shadow: 0 1px 4px black;
}

h1 {
  display: flex;
  align-self: center;
  font-family: 'Cinzel', serif;
  /* font-size: 1.5rem; */
  /* font-size: medium; */
  line-height: 1.5rem;

  border: 1px solid red;
}

h2 {
  margin-top: 0.75rem;

  /* margin: 0.75rem 20px 0 20px; */
  margin: 0.75rem auto 0 auto;
  /* background-color: grey; */

  text-align: center;
  height: 3.5rem;
  line-height: 1.5rem;
  overflow-wrap: break-word;

  width: 100%;
  word-wrap: break-word;
}

#add-book {
  width: 10rem;
  height: 2.5rem;
  border-radius: 1000px;
  font-size: 1.5rem;
}

#add-book-container {
  display: flex;
  justify-content: center;
  /* background-color: green; */
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#books-container {
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px 30px 30px;

  justify-content: center;
}

#form-title {
  text-align: center;
  margin-top: 0.75rem;
}

.book {
  /* background: linear-gradient(120deg, hsl(180, 100%, 28%), hsl(146, 47%, 56%)); */
  background: linear-gradient(120deg, hsl(146, 47%, 56%), hsl(180, 100%, 28%));
  /* background: linear-gradient(120deg, hsl(20, 100%, 28%), hsl(146, 47%, 56%)); */
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 3px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px black;

  min-width: 250px;
  width: 250px;
  height: 8rem;
}

.book-not-read {
  background: linear-gradient(120deg, hsl(20, 0%, 85%), hsl(146, 0%, 65%));
}

.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 5rem;
  height: 1.5rem;
  background: orange;
  border-radius: 8px;

  margin: 2px;
  box-shadow: 1px 1px 2px black;
}

.btn-x {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 1rem;
  height: 1rem;
  /* background: orange; */
  /* padding: 0.1rem 0.25rem 0.25rem 0.25rem; */
  padding: 0.55rem 0.55rem 0.5rem 0.5rem;
  /* margin: 3px; */
  /* border-radius: 8px; */

  /* margin: 3px; */

  position: absolute;
  font-weight: 900;
  font-family: sans-serif;
}

/* .checkbox-label { */
/* margin-bottom: 0.75em; */
/* } */

.clickable {
  cursor: pointer;
}

.form-row button {
  display: flex;
  align-self: center;
}
.form-row label {
  color: grey;
}
.form-row {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.form-row label {
  /* margin-top: 0.5rem; */
  font-size: smaller;
}

.hidden {
  display: none;
}

.line {
  width: 28px;
  height: 6px;
  background-color: var(--main-bkcolor-dark);
  margin: 3px 2px;
}

.read-status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: blue; */
}

.toggle-btn-container {
  height: 16px;
  width: 25px;
  border-radius: 50px;

  background-color: hsl(120, 0%, 30%);
  display: flex;
  align-items: center;
  margin-left: 5px;

  /* change this to make it look like a toggle button */
  justify-content: flex-start;
  /* (changed in app.js by adding on the class of .toggle-yes which overrides this) */
}

.toggle-btn-main {
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 0 2px black;

  margin: 0px;
}

.toggle-yes {
  justify-content: flex-end;
}

.x-container {
  justify-content: flex-end;
  display: flex;
  /* background-color: red; */
  width: 100%;

  position: relative;
}
